<div class="container mt-3 pt-3 pb-3 bg-white border border-primary">
DISC é um modelo baseado no trabalho do Dr. William Moulton Marston (1893-1947) para examinar o comportamento dos indivíduos em um determinado ambiente. Para Marston, existem quatro tipos básicos de comportamentos previsíveis observados nas pessoas e tais respostas comportamentais ocorrem a partir da combinação de duas dimensões: uma interna (referente à percepção do poder pessoal no ambiente) e outra externa (percepção da favorabilidade do ambiente). <br><br>
Como resultantes desta matriz temos os seguintes fatores: <br>
Dominância (D), Influência (I), Estabilidade (S) e Conformidade (C)<br><br>
Nossa individualidade é bem mais complexa do que sugere inicialmente qualquer modelo. A singularidade de cada sujeito, aqui, pode ser compreendida a partir da ideia de que somos compostos por um ou dois estilos principais de comportamento que se destacam frente aos demais. <br>
De qualquer forma, estas intensidades são combinadas com as intensidades dos demais fatores e assim é definido nosso estilo de comportamento em geral.<br>
Cada um dos padrões comportamentais tem um valor único em termos de características gerais, motivações, contribuições para a equipe e para a organização, ou seja, não há um melhor do que outro. <br>
As tendências de cada padrão podem ser funcionais ou disfuncionais dependendo da intensidade de uso dos comportamentos e dos requisitos específicos do ambiente/desafio em questão.<br>
E dentre as aplicações desta ferramenta, destacam-se desde processos seletivos até programas de desenvolvimento, seja em nível individual, de equipe ou de gestão.<br><br>
<%= link_to  t("generic.back"), root_path, class: "btn btn-primary" %>
</div>