<div class="container mt-3 pt-3 pb-3 bg-white border border-primary">
        <center><h3><%= t("generic.four_profiles") %></h3></center>
    <br>
    <div class='row justify-content-around'>
        <% @profile.each do |profile|%>
        <%= raw t("disc_html.#{profile}") %>
        <% end %>
    </div>
        <center><%= link_to t("generic.back"), root_path, class: "btn btn-primary" %></center><br>
</div>
