<div class="box4">
    <%= link_to  "Fazer Teste", questionnaire_disc_index_path , class: "btn box"%>
    <%= link_to  "Historico", root_path , class: "btn box"%>
    <%= link_to  "Os 4 Perfis", root_path , class: "btn box"%>
    <%= link_to  "O que e DISC?", root_path , class: "btn box"%>
</div>