<div class="box4">
    <%= link_to t("generic.test_start"), questionnaire_disc_index_path , class: "btn box"%>
    <%= link_to t("generic.history"), root_path , class: "btn box"%>
    <%= link_to t("generic.four_profiles"), home_disc_perfis_path , class: "btn box"%>
    <%= link_to t("generic.what_disc"), home_disc_history_path , class: "btn box"%>
</div>